// Layout
$section-width: 114rem;

// Colors
$color-primary-light: #efdee4;
$color-primary: #c993b5;
$color-primary-dark: #8e719d;
$color-secondary-light: #84a7cd;
$color-secondary: #1d5f91;
$color-secondary-dark: #102b58;

$color-danger: #eb4d4b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #bbb;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #555;
$color-grey-dark-4: #333;
$color-grey-dark-5: #222;
$color-grey-dark-6: #111;

$color-white: #fff;
$color-black: #000;

// Backgrounds
$gradient-primary: linear-gradient(
  90deg,
  rgba($color-primary, 1),
  rgba($color-primary-dark, 1)
);

// SHADOWS
$box-shadow--1: 2px 2px 10px rgba($color-black, 0.75);
$box-shadow--2: 2px 0px 10px rgba($color-black, 0.75);
$box-shadow--3: 0px 2px 10px rgba($color-black, 0.4);
