@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: $color-grey-light-1;
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 8rem;
  letter-spacing: 0.4rem;
}

.text-large {
  font-size: 2rem;
}