.ta-center {
  text-align: center;
}

.fw-medium {
  font-weight: 400;
}

.fc-grey-dark-3 {
  color: $color-grey-dark-3;
}

.fc-primary-dark {
  color: $color-primary-dark;
}

.text-shadow {
  text-shadow: 0px 5px 10px rgba($color-black, 0.1);
}

.ma-bt {
  &--1 {
    margin-bottom: 1rem;
  }

  &--2 {
    margin-bottom: 2rem;
  }

  &--3 {
    margin-bottom: 3rem;
  }

  &--4 {
    margin-bottom: 4rem;
  }

  &--5 {
    margin-bottom: 5rem;
  }

  &--6 {
    margin-bottom: 6rem;
  }

  &--7 {
    margin-bottom: 7rem;
  }

  &--8 {
    margin-bottom: 8rem;
  }
}

.pd-x {
  &--lg {
    padding: 0 3rem;
  }
}