.footer {
  background-color: $color-grey-dark-4;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo-container {
    height: 21rem;
    width: 21rem;
    margin: 0 5rem;
    border-radius: 50%;
    border: 0.4rem solid $color-grey-light-1;
    padding: 2.5rem;
    position: relative;

    @include respond(bp-medium) {
      height: 18rem;
      width: 18rem;
    }

    @include respond(bp-small) {
      height: 17rem;
      width: 17rem;
    }

    @include respond(bp-smaller) {
      height: 15rem;
      width: 15rem;
    }

    @include respond(bp-smallest) {
      height: 12.5rem;
      width: 12.5rem;
      padding: 2rem;
    }

    &::before,
    &::after {
      content: "";
      width: 0.4rem;
      height: 5.5rem;
      background-color: $color-grey-light-1;
      position: absolute;
      transform: rotate(45deg);

      @include respond(bp-medium) {
        height: 4.7rem;
      }
  
      @include respond(bp-small) {
        height: 4rem;
      }
  
      @include respond(bp-smaller) {
        height: 3.5rem;
      }

      @include respond(bp-smallest) {
        height: 3rem;
      }
    }

    &::before {
      bottom: 0;
    }

    &::after {
      top: 0;
    }
  }

  &__logo {
    height: 100%;
    width: 100%;
  }

  &__links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    & > :first-child > :first-child {
      margin-right: 3rem;
    }
  }
}
