.footer {
  background-color: $color-grey-dark-4;

  &__content {
    max-width: 114rem;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo-container {
    height: 21rem;
    width: 21rem;
    margin: 0 5rem;
    border-radius: 50%;
    border: 0.4rem solid $color-grey-light-1;
    padding: 2.5rem;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 0.4rem;
      height: 5.5rem;
      background-color: $color-grey-light-1;
      position: absolute;
      transform: rotate(45deg);
    }

    &::before {
      bottom: 0;
    }

    &::after {
      top: 0;
    }
  }

  &__logo {
    height: 100%;
    width: 100%;
  }

  &__links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    & > :first-child > :first-child {
      margin-right: 3rem;
    }
  }
}
