.header {
  height: 98vh;
  max-width: 100vw;
  background-image: $gradient-background-1;
  @extend %background-cover;
  position: relative;
  overflow: hidden;

  &__links {
    width: 128rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :first-child > :first-child {
      margin-right: 3rem;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    @extend %flex-abs-center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    background-color: rgba($color-grey-dark-5, 0.2);

    & .btn {
      margin-top: 5rem;

      &:hover svg {
        transform: rotate(90deg);
      }
    }
  }

  &__title {
    transform: translateY(-2rem);
  }
}
