.nav-large {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;

  &__nav-list {
    display: flex;
    width: 40rem;
    justify-content: space-between;
    position: relative;

    @include respond(bp-larger) {
      width: 35rem;
    }

    @include respond(bp-large) {
      width: 33rem;
    }

    @include respond(bp-medium) {
      width: 65rem;
      padding-bottom: 1rem;
      border-bottom: 0.3rem solid $color-grey-light-1;
    }

    @include respond(bp-small) {
      width: 58rem;
    }

    @include respond(bp-smaller) {
      width: 45rem;
    }

    @include respond(bp-smallest) {
      width: 37rem;
    }

    &--left::before,
    &--right::after {
      content: "";
      height: 0.3rem;
      width: 50.5rem;
      position: absolute;
      background-color: $color-grey-light-1;

      @include respond(bp-larger) {
        width: 44.5rem;
      }

      @include respond(bp-large) {
        width: 38.5rem;
      }
    }

    &--left::before {
      top: -1rem;
      left: -3rem;

      @include respond(bp-large) {
        left: -1rem;
      }
    }

    &--right::after {
      bottom: -1rem;
      right: -3rem;

      @include respond(bp-large) {
        right: -1rem;
      }
    }
  }

  &__nav-list-item {
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      @extend %abs-center;
      width: 0%;
      height: 100%;
      background-color: rgba($color-grey-light-1, 0.3);
      z-index: -1;
      transition: all 0.3s;
      border-radius: 10px;
    }

    &:hover::before {
      width: 120%;
    }
  }

  &__nav-logo-container {
    height: 21rem;
    width: 21rem;
    margin: 0 5rem;
    border-radius: 50%;
    border: 0.4rem solid $color-grey-light-1;
    padding: 2.5rem;
    position: relative;

    @include respond(bp-larger) {
      height: 19rem;
      width: 19rem;
      margin: 0 4rem;
    }

    @include respond(bp-large) {
      margin: 0 2rem;
      height: 18rem;
      width: 18rem;
    }

    &::before,
    &::after {
      content: "";
      width: 0.4rem;
      height: 5.5rem;
      background-color: $color-grey-light-1;
      position: absolute;
      transform: rotate(45deg);

      @include respond(bp-larger) {
        height: 5rem;
      }

      @include respond(bp-large) {
        height: 4rem;
      }
    }

    &::before {
      bottom: 0;
    }

    &::after {
      top: 0;
    }
  }

  &__nav-logo {
    height: 100%;
    width: 100%;
  }
}

.nav {
  background-color: $color-primary-darker;
  position: sticky;
  top: 0;
  z-index: 500;
  box-shadow: $box-shadow--2;
  border-bottom: 0.2rem solid $color-secondary-dark;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0 !important;

    @include respond(bp-small) {
      justify-content: center;
    }

    & > :not(:last-child) {
      margin-right: 2rem;

      @include respond(bp-smaller) {
        margin-right: 1rem;
      }

      @include respond(bp-smallest) {
        margin-right: 0.5rem;
      }
    }
  }

  &__list-item {
    cursor: pointer;
    transition: all 0.3s;
    position: relative;

    &:hover {
      color: $color-primary-dark;
    }

    &--icon {
      display: flex;
      align-items: center;

      & > :first-child {
        margin-right: 1rem;

        @include respond(bp-smallest) {
          margin-right: 0.5rem;
        }
      }

      &:hover > svg {
        fill: $color-primary-dark;
      }
    }
  }
}
