.section {
  width: $section-width;
  margin: 0 auto;
  padding: 6rem 0;

  &__heading {
    color: $color-primary-dark;
    text-shadow: 0px 5px 10px rgba($color-black, 0.1);
    margin-bottom: 2rem;
  }

  @include respond(bp-massive) {
    width: 130rem;
  }

  @include respond(bp-largest) {
    width: 116rem;
  }

  @include respond(bp-larger) {
    width: 102rem;
  }

  @include respond(bp-large) {
    width: 88rem;
  }

  @include respond(bp-medium) {
    width: 74rem;
  }

  @include respond(bp-small) {
    width: 60rem;
  }

  @include respond(bp-smaller) {
    width: 46rem;
  }

  @include respond(bp-smallest) {
    width: 32rem;
  }
}

.portfolio {
  background-color: $color-grey-light-2;

  &__projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.skills {
  &__skill {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    box-shadow: $box-shadow--3;

    & p {
      margin-right: 1rem;
    }
  }
}

.testimonials {
  background-color: $color-grey-light-2;

  &__select {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__selects {
    display: flex;
    align-items: center;
    margin: 0 2rem;

    & > * {
      margin: 0 1rem;
    }
  }

  &__select-view {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    &--selected {
      background-color: $color-primary-dark;
    }

    &--unselected {
      background-color: $color-grey-dark-3;
    }
  }
}

.contact {
  background-image: $gradient-primary;

  &__card {
    background-image: linear-gradient(
        100deg,
        rgba($color-white, 0.8) 0%,
        rgba($color-white, 0.8) 52%,
        transparent 50%
      ),
      url("../img/landing.jpg");

    background-size: cover;
    border-radius: 3px;
    box-shadow: $box-shadow--3;
  }

  &__form {
    width: 50%;
    padding: 3rem;
  }
}
