.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: $color-white;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  box-shadow: $box-shadow--2;

  &--success {
    background-color: $color-primary-dark;
  }

  &--error {
    background-color: $color-secondary-dark;
  }

  &__prompt > :nth-child(2) {
    margin: 0 2rem;
  }
}
