.btn {
  cursor: pointer;
  border: none;
  transition: all 0.3s;

  &:target,
  &:focus {
    outline: none;
  }

  &--primary {
    background-color: transparent;
    border: 2px solid $color-primary-dark;
    color: $color-primary-dark;
    box-shadow: $box-shadow--3;

    &:hover {
      color: $color-grey-light-1;
      background-color: $color-primary-dark;
      border: 2px solid transparent;
    }
  }

  &--small {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }

  &--ghost {
    color: $color-grey-light-1;
    background-color: rgba($color-grey-light-1, 0.15);
    padding: 1.5rem 5rem;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &--icon {
    display: flex;
    align-items: center;

    & > :first-child {
      margin-right: 1.5rem;
    }
  }
}
