.btn {
  cursor: pointer;
  border: none;
  transition: all 0.3s;

  &:target,
  &:focus {
    outline: none;
  }

  &--icon {
    display: flex;
    align-items: center;

    & > :first-child {
      margin-right: 1.5rem;
    }
  }

  &--large {
    font-size: 2rem;
    padding: 1.5rem 5rem;

    @include respond(bp-large) {
      padding: 1.25rem 4.5rem;
      font-size: 1.8rem;
    }

    @include respond(bp-smaller) {
      padding: 1.25rem 4rem;
      font-size: 1.7rem;
    }

    @include respond(bp-smallest) {
      padding: 1rem 3.5rem;
      font-size: 1.6rem;
    }
  }

  &--small {
    padding: 1rem 2rem;
  }

  &--primary-dark {
    color: $color-grey-light-1;
    background-color: $color-primary-darker;

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--secondary {
    color: $color-grey-light-1;
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-light;
    }
  }
  
  &--ghost {
    color: $color-grey-light-1;
    background-color: rgba($color-grey-light-1, 0.15);
  }

  &--ghost-border {
    color: $color-primary-dark;
    background-color: transparent;
    border: 2px solid $color-primary-dark;

    &:hover {
      color: $color-grey-light-1;
      background-color: $color-primary-dark;
      border: 2px solid transparent;
    }
  }

  &--hover-primary-dark:hover {
    background-color: $color-primary-darker;
  }

  &--hover-secondary:hover {
    background-color: $color-secondary;
  }

  &--shadow {
    box-shadow: $box-shadow--3;
  }
}
