.icon {
  transition: all 0.3s;

  &--massive {
    height: 7rem;
    width: 7rem;

    @include respond(bp-medium) {
      height: 6rem;
      width: 6rem;
    }

    @include respond(bp-small) {
      height: 5rem;
      width: 5rem;
    }

    @include respond(bp-smallest) {
      height: 4rem;
      width: 4rem;
    }
  }

  &--x-larger {
    height: 6rem;
    width: 6rem;
  }

  &--larger {
    height: 3rem;
    width: 3rem;

    @include respond(bp-smaller) {
      height: 2.5rem;
      width: 2.5rem;
    }

    @include respond(bp-smallest) {
      height: 2.25rem;
      width: 2.25rem;
    }
  }

  &--large {
    height: 2rem;
    width: 2rem;

    @include respond(bp-smaller) {
      height: 1.75rem;
      width: 1.75rem;
    }

    @include respond(bp-smallest) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &--medium {
    height: 1.75rem;
    width: 1.75rem;
  }

  &--small {
    height: 1.5rem;
    width: 1.5rem;
  }

  &--primary {
    fill: $color-primary-light;
  }

  &--primary-dark {
    fill: $color-primary-dark;
  }

  &--primary-darker {
    fill: $color-primary-darker;
  }

  &--primary-white {
    fill: $color-primary-light;

    &:hover {
      fill: $color-white;
    }
  }

  &--black-primary {
    fill: $color-grey-dark-3;

    &:hover {
      fill: $color-primary-light;
    }
  }

  &--black-primary-dark {
    fill: $color-grey-dark-3;

    &:hover {
      fill: $color-primary-dark;
    }
  }

  &--white-primary {
    fill: $color-white;

    &:hover {
      fill: $color-primary-light;
    }
  }

  &--white {
    fill: $color-grey-light-1;
  }

  &--black {
    fill: $color-grey-dark-3;
  }

  &--translate:hover,
  &--translate-active {
    transform: translateY(-2px);
  }

  &--active {
    cursor: pointer;
  }
}
