.portfolio-project {
  width: calc(19.2rem * 2.75);
  height: calc(10.8rem * 2.75);
  position: relative;
  overflow: hidden;
  box-shadow: $box-shadow--3;

  @include respond(bp-larger) {
    width: calc(19.2rem * 2.5);
    height: calc(10.8rem * 2.5);
  }

  @include respond(bp-large) {
    width: calc(19.2rem * 2.2);
    height: calc(10.8rem * 2.2);
  }

  @include respond(bp-medium) {
    width: calc(19.2rem * 3);
    height: calc(10.8rem * 3);
  }

  @include respond(bp-small) {
    width: calc(19.2rem * 2.5);
    height: calc(10.8rem * 2.5);
  }

  @include respond(bp-smaller) {
    width: calc(19.2rem * 2.2);
    height: calc(10.8rem * 2.2);
  }

  @include respond(bp-smallest) {
    width: calc(19.2rem * 1.8);
    height: calc(10.8rem * 1.8);
  }

  &::before {
    content: "";
    position: absolute;
    transition: all 0.3s;
    top: -15rem;
    left: -5rem;
    height: 60rem;
    width: 70rem;
    background-image: $gradient-background-2;
    @extend %background-cover;
    transform: rotate(-30deg) translateX(-70rem);
    z-index: 1;
    backdrop-filter: blur(2px);
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    transition: all 0.3s;
    transition-delay: 0.1s;
    top: -39.2rem;
    left: 10rem;
    height: 70rem;
    width: 20rem;
    background-image: $gradient-primary;
    transform: rotate(80deg) translateX(-14rem);
    z-index: 2;
    box-shadow: $box-shadow--2;
    opacity: 1;

    @include respond(bp-larger) {
      top: -40rem;
    }

    @include respond(bp-large) {
      top: -41rem;
    }

    @include respond(bp-medium) {
      top: -38.6rem;
      left: 12rem;
    }

    @include respond(bp-small) {
      top: -40.5rem;
    }

    @include respond(bp-smaller) {
      top: -41.4rem;
    }

    @include respond(bp-smallest) {
      top: -42.8rem;
    }
  }

  &__info {
    @extend %abs-center;
    text-align: center;
    z-index: 3;

    & > * {
      transition: all 0.3s;
    }

    &--name-build {
      transform: translateY(calc(-21rem));
    }

    &--popup-cta {
      transform: translateY(calc(21rem));
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &:hover {
    .portfolio-project__info {
      &--name-build {
        transform: translateY(-1rem);
      }

      &--popup-cta {
        transform: translateY(3rem);

        @include respond(bp-smallest) {
          transform: translateY(2rem);
        }
      }
    }

    &::before {
      transform: rotate(-30deg) translateX(0);
    }

    &::after {
      transform: rotate(80deg) translateX(0);
    }
  }
}
