.portfolio-popup {
  max-width: calc(19.2rem * 4);
  background-color: $color-grey-light-1;
  box-shadow: $box-shadow--1;

  &__gallery {
    position: relative;
    // max-height: calc(10.8rem * 4);
    border-bottom: $color-grey-dark-4 1.5rem solid;
  }

  &__icon-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__icon-gallery-backward,
  &__icon-gallery-forward {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($color-black, 0.1);
    padding: 1rem 0.5rem;

    &:hover {
      background-color: rgba($color-black, 0.2);
    }
  }

  &__icon-gallery-backward {
    left: 0;
  }

  &__icon-gallery-forward {
    right: 0;
  }

  &__image {
    width: calc(19.2rem * 4);
    height: calc(10.8rem * 4);
  }

  &__feature {
    color: $color-grey-light-1;
    padding: 1rem;
    text-align: center;
    transform: translateY(-0.65rem);
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba($color-black, 0.65);
  }

  &__description {
    padding: 2rem;
  }

  &__project {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($color-grey-light-3, 0.5);
    position: relative;

    & h3 {
      font-weight: 700;
    }
  }

  &__links {
    & > :first-child {
      margin-right: 1rem;
    }

    & > * {
      & .btn {
        display: inline-flex;
        align-items: center;

        & > :first-child {
          margin-right: 1rem;
          border: none;
        }
      }

      &:hover .btn svg {
        fill: $color-grey-light-1;
      }
    }
  }
}
