.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__image-container {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid $color-primary;
    box-shadow: $box-shadow--3;
    margin-bottom: 2rem;

    @include respond(bp-medium) {
      height: 18rem;
      width: 18rem;
    }

    @include respond(bp-smaller) {
      height: 16rem;
      width: 16rem;
    }

    @include respond(bp-smallest) {
      height: 15rem;
      width: 15rem;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__identity {
    color: inherit;

    & a {
      display: flex;
      align-items: center;

      & > span {
        margin-right: 1rem;
      }

      &:hover > svg {
        fill: $color-grey-light-1;
      }
    }
  }
}